.border {
    border: 1px solid $gry;
}

code {
    color: $w;
    background-color: $blu;
}

.base {
    border: 1px solid $gry;
    height: 100px;
    padding: 15px;
}

.grn {
    background-color: $grn;
    height: 100px;
}

.org {
    background-color: $org;
    height: 100px;
}

.blu {
    background-color: $blu;
    height: 100px;
}

.blk {
    background-color: $blk;
    height: 100px;
}

.w {
    background-color: $w;
    height: 100px;
}

.bgry {
    background-color: $gry;
    height: 100px;
}